
*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  color: grey;
  font-size: 30px;
  padding-top: 20px;
  display: flex;
  font-family: 'Sen', sans-serif;
  }

  #bkkButton{
    display: none;
  }

  #amkkButton{
    display: none;
  }

  #omossButton{
    display: none;
  }

.bild{

  margin-left: 20px;
}

.lankar{
  margin-left: 50px;
    display: flex;
    margin-top: 20px;

  }

  a{
    color:black;
    text-decoration: none;
  }


main{
  background-color: #669999;
  height: 1700px;
  width: 100%;
  padding-top: 100px;
  font-family: 'Sen', sans-serif;
  }

.mellanrum{
  height: 5%;
  width: 100%;
}

#bkorkort{
  padding:40px;
}

#homepage{

#amkorkort{
  padding: 40px;
}

footer{
  background-color: #fff;
  height: 920px;
  width: 100%;
  padding-top: 20px;
  text-align: center;

  }

.wrapper{
  margin: 0 auto;
  width: 1000px;
  display: flex;
  }

body{
  margin: 0 0 0 0;
  background-color: #e7e8d9
  }

  #twitterBild{
    margin-left: 50%;
  }

  .sprite {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-logga3 {
    width: 135px;
    height: 95px;
    background-position: -5px -5px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -150px -5px;
}

  #slider{
  height: 200px;
  width: 200px;
  margin-left: 42%;
margin-top: 20px;
}

  #imgs{

  height: 200px;
  width: 609px;
  position: relative;

  }
  button{
    display: none;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    margin-left: 47%;
    font-family: 'Sen', sans-serif;
    }

    #test{
      display: flex;
    }

      #omoss{
        font-family: 'Sen', sans-serif;

      }

      h1{
          font-family: 'Sen', sans-serif;
      }


      @media only screen and (max-width: 1000px) {

        .wrapper{
         width: 100%;
        }
      }

      @media only screen and (max-width: 800px) {

        #test{
        display:none;
        }

        footer{

          height: 950px;
        }

      }

      @media only screen and (max-width: 700px) {

        main{
         height: 1800px ;
        }
      }

      @media only screen and (max-width: 600px) {
        main{
         height: 1850px ;
        }

      footer{
        height: 1000px;
      }

      }

      @media only screen and (max-width: 550px) {
        main{
         height: 2000px ;
        }

        footer{
          height: 1000px;
      }
        }

      @media only screen and (max-width: 530px) {
        main{
         height: 2050px ;
        }

      footer{
        height: 1000px;
           }
        }
