/*
header {
  grid-area: header;

  display: grid;
  background-color: black;



}



main {
  grid-area: main;
  display: grid;
}


#wrapper {
  display: grid;
  grid-template-columns: 100%;

  grid-template-areas:
  "header"
  "nav"
  "main"
  "footer";
}

 @media only screen and (max-width: 1024px) {
  #wrapper {
    display: grid;
    grid-template-columns: 100%;

    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  }


main{

}

  }

  @media only screen and (max-width: 800px) {
    .lådor div{
    width: 100%;
    height: 25%;
    }

header{

}

  }

  @media only screen and (max-width: 600px){

    }
    */


*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  color: grey;
  font-size: 30px;
  padding-top: 20px;
  display: flex;
  font-family: 'Sen', sans-serif;


  }

  #bkkButton{
    display: none;
  }

  #amkkButton{
    display: none;
  }

  #omossButton{
    display: none;
  }

  .bild{

    display: fixed;
    margin-left: 20px;
  }

  .länkar{
    margin-left: 50px;
    display: flex;
    margin-top: 20px;

  }

  a{
    color:black;
    text-decoration: none;
  }


main{
  background-color: #669999;
  height: 2000px;
  width: 100%;
  padding-top: 100px;
  font-family: 'Sen', sans-serif;
  }

  .mellanrum{

height: 5% auto;
width: 100%;



  }

#bkörkort{
padding:40px;
  }

#homepage{
  width: 920px;
  padding:40px;
  }
#amkörkort{
  padding: 40px;
}


footer{
  background-color: #fff;
  height: 100px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-family: 'Sen', sans-serif;
  }

.wrapper{
  margin: 0 auto;
  width: 1000px;
  display: flex;
  }

body{
  margin: 0 0 0 0;
  background-color: #e7e8d9
  }
  
  #twitterBild{
    margin-left: 50%;
  }

  .sprite {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-logga3 {
    width: 135px;
    height: 95px;
    background-position: -5px -5px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -150px -5px;
}


  @media only screen and (max-width: 800px) {
    nav{
    width: 100%;
    height: 200px;
    }

  }

    .
